  body{
    background-color:#303030;
  }
  .initialConnectBtn{
    background-color: rgb(238, 77, 77);
    color: #fbfbfb;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 30px;
    margin: 0 10px;
  }
  
  .videoConnectBtn {
    background-color: rgb(36, 143, 214);
    color: #fbfbfb;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    margin: 0 10px;
  }
  .dataChannelSend{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #fbfbfb;
  }
  .switchbtn{
    background-color: rgb(11, 167, 50);
    color: #fbfbfb;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 30px;
    margin: 0 10px;
  }
  .addroom{
      width: 100px;
      height: 25px;
      border-radius: 5px;
      text-align: center;
  }
  .chatroom{
      margin: 20px 5px;
  }
  .vediobox{
      border: 1px solid #fbfbfb;
  }